
## Custom
appsettings.json

## Template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/

# Compiled Go binaries
*.exe
*.test
*.prof

# Dependency directories
/bin
/pkg

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment variables file
.env
